In [1]:
import pandas as pd
import numpy as np

## Worklist prioritization: Emergency Setting

In [2]:
## First, read in the file of the current worklist with the probabilities that your two algorithms have
## generated for the two types of findings you're most concerned with:

worklist = pd.read_csv('probabilities.csv')

In [3]:
worklist.head()

   Image_Type  Brain_bleed_probability  Aortic_dissection_probability
0  chest_xray                      0.0                           0.05
1  chest_xray                      0.0                           0.17
2  chest_xray                      0.0                           0.00
3  chest_xray                      0.0                           0.04
4  wrist_xray                      0.0                           0.00

In [4]:
worklist['time_to_read'] = np.arange(6, 6*(len(worklist)+1),6) # Create current time to read

In [5]:
worklist.head()

,Image_Type,Brain_bleed_probability,Aortic_dissection_probability,time_to_read
0,chest_xray,0.0,0.05,6
1,chest_xray,0.0,0.17,12
2,chest_xray,0.0,0.00,18
3,chest_xray,0.0,0.04,24
4,wrist_xray,0.0,0.00,30

In [6]:
worklist['max_prob'] = worklist[["Brain_bleed_probability", "Aortic_dissection_probability"]].max(axis=1) # Max probability

In [7]:
worklist.head()

,Image_Type,Brain_bleed_probability,Aortic_dissection_probability,time_to_read,max_prob
0,chest_xray,0.0,0.05,6,0.05
1,chest_xray,0.0,0.17,12,0.17
2,chest_xray,0.0,0.00,18,0.00
3,chest_xray,0.0,0.04,24,0.04
4,wrist_xray,0.0,0.00,30,0.00

In [8]:
worklist_prioritized = worklist.sort_values(by=['max_prob'],ascending=False) # Reorder the worklist based on the max probability

In [9]:
worklist_prioritized.head()

,Image_Type,Brain_bleed_probability,Aortic_dissection_probability,time_to_read,max_prob
25,head_ct,0.99,0.00,156,0.99
15,chest_xray,0.00,0.95,96,0.95
10,chest_xray,0.00,0.94,66,0.94
75,chest_xray,0.00,0.93,456,0.93
47,chest_xray,0.00,0.93,288,0.93

In [10]:
worklist_prioritized['time_to_read_prioritized'] = np.arange(6, 6*(len(worklist)+1),6) # Update the time to read on a new column
worklist_prioritized['time_delta'] = worklist_prioritized['time_to_read'] - worklist_prioritized['time_to_read_prioritized'] # Calculate the time delta

In [11]:
worklist_prioritized.head()

,Image_Type,Brain_bleed_probability,Aortic_dissection_probability,time_to_read,max_prob,time_to_read_prioritized,time_delta
25,head_ct,0.99,0.00,156,0.99,6,150
15,chest_xray,0.00,0.95,96,0.95,12,84
10,chest_xray,0.00,0.94,66,0.94,18,48
75,chest_xray,0.00,0.93,456,0.93,24,432
47,chest_xray,0.00,0.93,288,0.93,30,258

In [12]:
worklist_prioritized[((worklist_prioritized.time_delta>30)&(worklist_prioritized.Image_Type=='head_ct'))] # Only show the cases where we saved at least 30 minutes

,Image_Type,Brain_bleed_probability,Aortic_dissection_probability,time_to_read,max_prob,time_to_read_prioritized,time_delta
25,head_ct,0.99,0.0,156,0.99,6,150
84,head_ct,0.91,0.0,510,0.91,36,474
95,head_ct,0.90,0.0,576,0.90,42,534
42,head_ct,0.89,0.0,258,0.89,48,210
59,head_ct,0.89,0.0,360,0.89,54,306
89,head_ct,0.78,0.0,540,0.78,96,444
39,head_ct,0.77,0.0,240,0.77,102,138
45,head_ct,0.75,0.0,276,0.75,108,168
76,head_ct,0.69,0.0,462,0.69,144,318
96,head_ct,0.45,0.0,582,0.45,198,384
78,head_ct,0.44,0.0,474,0.44,204,270
56,head_ct,0.22,0.0,342,0.22,264,78
68,head_ct,0.07,0.0,414,0.07,324,90
82,head_ct,0.05,0.0,498,0.05,336,162